.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
}

.logo_img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 16px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  height: 13.75vw;
}

.menuToggle {
  position: absolute;
  margin: 0;
  left: 87.8125vw;
  top: 4.0625vw;
  width: 7.8125vw;
  height: 6.25vw;
  cursor: pointer;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  z-index: 2;
  opacity: 0;
}

.spinner {
  display: block;
  position: relative;
  left: 88.4375vw;
  top: 5vw;
  width: 1px;
  height: 2px;
  margin-bottom: 0.9375vw;
  background: #000000;
  z-index: 1;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menuInner {
  position: absolute;
  top: 13.75vw;
  width: 100vw;
  list-style: none;
  background-color: #0000EC;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 16px;
}

.menuInner_link {
  display: block;
  position: relative;
  margin: 0 0 24px 5vw;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  line-height: 28px;
}

.menuToggle:checked ~ .menuInner {
  -webkit-transform: none;
          transform: none;
}

.menuToggle:checked ~ .spinner:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menuToggle:checked ~ .spinner:nth-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle:checked ~ .spinner:nth-child(4) {
  -webkit-transform: rotate(-45deg) translate(-0.9375vw, 0.15625vw);
          transform: rotate(-45deg) translate(-0.9375vw, 0.15625vw);
}

/*
#menu {
  height: 224px;
  position: fixed;
  width: 100%;
  top: 44px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background: #0000EC;
}

.menuInner {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  &_list1, &_list, &_list4 {
    list-style: none;
    margin: 0px 0 24px 16px;
    height: 28px;
    font-size: 16px;
  }
  &_link {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
  &_link:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  &_link:active {
    color: rgba(6,10,36,0.56);
    text-decoration: line-through;
  }
}

.menuToggle:checked ~ #menu { 
  transform: translateX(0); 
}

.menuToggle {
  transition: all 0.3s;
  display: none;
}

.iconToggle {
    @include value();
    cursor: pointer;
    z-index: 99;
    top: 16px;
    right: 19px;
    height: 12px;
    width: 18px;
    margin: 0;
}

.spinner {
  @include value();
  height: 2px;
  width: 100%;
  background-color: black;
}

.part-1 {
  @include value($position: relative);
  margin-top: 3px;
}

.part-3 {
  @extend .part-1;
}

.part-2 {
    @include value($position: relative);
    margin-top: 3px;
}

.menuToggle:checked ~ .iconToggle > .part-2 {
  transition: all 0.3s;
  box-sizing: $box;
  opacity: 0;
}

.menuToggle:checked ~ .iconToggle > .part-1 {
  @include diagonal();
}

.menuToggle:checked ~ .iconToggle > .part-3 {
  @include diagonal($margin-top: -7px, $transform: rotate(-135deg));
}*/
/*# sourceMappingURL=header.css.map */