@mixin value($transition: all 0.3s, $box-sizing: $box, $position: absolute) {
    transition: $transition;
    box-sizing: $box;
    position: $position;
}
  
@mixin diagonal($margin-top: 8px, $transform: rotate(135deg), $box-sizing: $box, $transition: all 0.3s ) {
  transition: $transition;
  box-sizing: $box;
  transform: $transform;
  margin-top: $margin-top;
}

@mixin menu() {
  .menuToggle, 
  .iconToggle, 
  .iconToggle::before, 
  .iconToggle::after,
  .line {
    display: none;
  }
  
  .menuInner {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transition: none;
    height: 80px;
    background-color: white;
    font-family: $mono;
    display: flex;
    margin: 0;
    padding: 26px 0 0 0;
    &_list {
      margin: 0 48px 0 0;
      display: inline;
    }
    &_list4 {
      margin: 0 100px 0 0;
      display: inline;
    }
    &_link {
      line-height: 28px;
      color: $fontcolor;
    }
    &_link:hover {
      color: #00F3BB;
      text-decoration: line-through; 
    }
    &_link:active {
      color: rgba(6,10,36,0.56);
      text-decoration: line-through;
    } 
  }
}

@mixin data() {
  font-family: $sans;
  font-weight: 600;
  font-size: 24px;
  color: $fontcolor;
  text-align: center;
}