@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
.header {
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo_img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 16px;
}

.menuToggle {
  padding: 10px 16px;
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #FFFFFF;
}

.iconToggle {
  width: 18px;
  height: 12px;
  cursor: pointer;
  z-index: 2;
}

.iconToggle::after,
.iconToggle::before,
.iconToggle .line {
  content: '';
  border-radius: 3px;
  display: block;
  height: 2px;
  margin: 3px 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: #000000;
}

.menuInner {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  width: 100%;
  height: 224px;
  top: 44px;
  left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  list-style: none;
  background: #0000EC;
  -webkit-transition: left 250ms ease-in-out;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}

.menuInner_list, .menuInner_list4 {
  margin: 0px 0 24px 16px;
  font-size: 16px;
}

.menuInner_link {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  color: white;
}

.menuInner_link:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

.menuInner_link:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

.checkbox:checked ~ .menuToggle > .iconToggle:before {
  -webkit-transform: translateY(5px) rotate(135deg);
          transform: translateY(5px) rotate(135deg);
}

.checkbox:checked ~ .menuToggle > .iconToggle:after {
  -webkit-transform: translateY(-5px) rotate(-135deg);
          transform: translateY(-5px) rotate(-135deg);
}

.checkbox:checked ~ .menuToggle > .iconToggle .line {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .menu > .menuInner {
  left: 0;
}

.container {
  margin: 29px 16px 0;
  padding-bottom: 37px;
}

.container .title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  line-height: 42px;
  font-weight: 300;
  padding-bottom: 16px;
  margin-bottom: 0;
  margin-top: 29px;
}

.container .decoration {
  text-decoration: line-through;
}

.container .decoration::after {
  content: '\A';
  white-space: pre;
}

.container .paragraph {
  margin: 0;
  font-size: 14px;
  color: #060A24;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 49px;
}

.container .paragraph-desktop {
  display: none;
}

.btn {
  font-family: "IBM Plex Mono", monospace;
  background-color: #00F3BB;
  font-size: 16px;
  color: #060A24;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
  padding: 13px 96px;
}

.btn:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

.oblique_name {
  display: none;
}

.oblique .skewed {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1235.5px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
  -webkit-transform-origin: bottom rigth;
          transform-origin: bottom rigth;
}

.episodes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.episodes .name {
  font-family: "IBM Plex Sans", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 36px;
  line-height: 42px;
  margin: 64px 0 21px 16px;
}

.episodes .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 11px 48px 11px;
}

.episodes .play .player, .episodes .play .player2 {
  width: 100%;
  height: 236px;
  margin-bottom: 11px;
}

.episodes .play .player-spotify, .episodes .play .player2-spotify {
  width: 100%;
  height: 232px;
  border: 0;
}

.we {
  margin: 0 16px 16px 16px;
  color: #060A24;
}

.we .telephone {
  width: 100%;
  height: 519px;
}

.we_div {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.we_div .we_come {
  font-size: 36px;
  margin-top: 27px;
  margin-bottom: 8px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 42px;
}

.we_div .we_paragraph {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
}

.guests_stellar {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin: 54px 16px 14px;
}

.guests .images .photos {
  height: 243px;
}

.guests .images .photos_1, .guests .images .photos_2, .guests .images .photos_3, .guests .images .photos_4, .guests .images .photos_5, .guests .images .photos_6 {
  height: 243px;
  margin: 0;
  width: 100%;
}

.themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
  margin-bottom: 0;
}

.themes_some {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #060A24;
  line-height: 42px;
  margin: 0 16px 37px;
}

.themes .something {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.themes .something_position {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.themes .something_position .themes_image, .themes .something_position .themes_image-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.themes .something_position .themes_name {
  margin: 13px 16px 65px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #060A24;
  text-align: center;
}

.themes .something_position .themes_name-security {
  margin-bottom: 42px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #060A24;
  text-align: center;
}

.news {
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  height: 200px;
  height: 341px;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.news_title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  margin: 64px 16px 36px;
  font-size: 36px;
  color: white;
  text-align: center;
  line-height: 42px;
}

.news .btn {
  padding: 13px 43px;
}

.author {
  background-color: white;
  height: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author_name {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  margin: 24px 0 16px;
  font-size: 14px;
  color: #060A24;
  line-height: 22px;
}

.author .icons {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.author .icons .fab {
  font-size: 16px;
  color: #060A24;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
  .logo_img {
    width: 36px;
    height: 36px;
    padding: 22px 0 22px 50px;
  }
  .menuToggle,
  .iconToggle,
  .iconToggle::before,
  .iconToggle::after,
  .line {
    display: none;
  }
  .menuInner {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: none;
    transition: none;
    height: 80px;
    background-color: white;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    margin: 0;
    padding: 26px 0 0 0;
  }
  .menuInner_list {
    margin: 0 48px 0 0;
    display: inline;
  }
  .menuInner_list4 {
    margin: 0 100px 0 0;
    display: inline;
  }
  .menuInner_link {
    line-height: 28px;
    color: #060A24;
  }
  .menuInner_link:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  .menuInner_link:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
  .container {
    margin: 0 0 5px 50px;
    height: 355px;
    padding: 0;
  }
  .container .title {
    font-size: 50px;
    line-height: 84px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
  }
  .container .decoration::after {
    display: none;
  }
  .container .dot {
    color: #0000EC;
  }
  .container .paragraph {
    display: none;
  }
  .container .paragraph-desktop {
    display: block;
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    font-weight: 300;
    color: #060A24;
    line-height: 24px;
    margin: 0;
    margin-bottom: 56px;
    width: 628px;
  }
  .container .btn {
    padding: 16px 59px;
    font-size: 18px;
    line-height: 24px;
  }
  .oblique .skewed {
    height: 900px;
  }
  .episodes .name {
    margin-top: 0;
    padding: 64px 0 26px 50px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    color: white;
  }
  .episodes .play {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .episodes .play .player, .episodes .play .player2 {
    width: 350px;
    height: 232px;
    margin: 26px 15px 64px;
  }
  .we {
    margin: 0 0 50px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .we .telephone {
    margin: 0;
    width: 400px;
    height: 660px;
  }
  .we_div {
    margin-top: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 288px;
  }
  .we_div .we_come {
    font-size: 48px;
    margin-bottom: 24px;
  }
  .we_div .we_paragraph {
    width: 288px;
    font-size: 16px;
    line-height: 24px;
  }
  .guests {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .guests_stellar {
    font-size: 48px;
    margin: 0 0 36px 50px;
  }
  .guests .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .guests .images .photos {
    width: calc(100vw/2);
  }
  .guests .images .photos_1, .guests .images .photos_2, .guests .images .photos_3, .guests .images .photos_4, .guests .images .photos_5, .guests .images .photos_6, .guests .images .photos_2, .guests .images .photos_3, .guests .images .photos_4, .guests .images .photos_5, .guests .images .photos_6 {
    width: 100%;
  }
  .themes {
    margin: 64px 0 0 50px;
  }
  .themes_some {
    margin-bottom: 69px;
    font-size: 48px;
  }
  .themes .something {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .themes .something_position {
    height: 210px;
  }
  .themes .something .themes_name, .themes .something .themes_name-security {
    width: 220px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    line-height: 32px;
    margin-top: 29px;
    margin-bottom: 34px;
  }
  .news {
    height: 400px;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  }
  .news_title {
    margin: 150px 16px 36px;
    font-size: 48px;
  }
  .news .btn {
    padding: 16px 59px;
    font-size: 18px;
    line-height: 24px;
  }
  .author {
    margin: 0;
  }
  .author_name {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .logo_img {
    padding-left: 100px;
  }
  .menuToggle,
  .iconToggle,
  .iconToggle::before,
  .iconToggle::after,
  .line {
    display: none;
  }
  .menuInner {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: none;
    transition: none;
    height: 80px;
    background-color: white;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    margin: 0;
    padding: 26px 0 0 0;
  }
  .menuInner_list {
    margin: 0 48px 0 0;
    display: inline;
  }
  .menuInner_list4 {
    margin: 0 100px 0 0;
    display: inline;
  }
  .menuInner_link {
    line-height: 28px;
    color: #060A24;
  }
  .menuInner_link:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  .menuInner_link:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
  .container {
    margin-left: 200px;
  }
  .episodes .play .player, .episodes .play .player2 {
    width: 480px;
  }
  .we {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .we .telephone {
    margin-right: 62.4px;
    width: 457.6px;
    height: 660px;
  }
  .we_div {
    margin-top: 189px;
  }
  .guests .photos {
    width: calc(100vw/3);
  }
  .themes_position {
    width: 243px;
  }
  .news .btn {
    padding: 19px 59px;
  }
  .author {
    height: 95px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .author_name {
    margin: 0;
    padding: 36px 0 31px 100px;
    line-height: 28px;
  }
  .author .icons {
    padding: 36px 100px 31px 0;
  }
}

@media screen and (min-width: 1440px) {
  .menuToggle,
  .iconToggle,
  .iconToggle::before,
  .iconToggle::after,
  .line {
    display: none;
  }
  .menuInner {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: none;
    transition: none;
    height: 80px;
    background-color: white;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    margin: 0;
    padding: 26px 0 0 0;
  }
  .menuInner_list {
    margin: 0 48px 0 0;
    display: inline;
  }
  .menuInner_list4 {
    margin: 0 100px 0 0;
    display: inline;
  }
  .menuInner_link {
    line-height: 28px;
    color: #060A24;
  }
  .menuInner_link:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  .menuInner_link:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
  .container {
    height: 379px;
  }
  .container .title {
    font-size: 64px;
    padding-top: 120px;
  }
  .container .decoration::after {
    display: none;
  }
  .container .paragraph-desktop {
    margin-bottom: 72px;
  }
  .container .btn {
    padding: 16px 59px;
    font-size: 18px;
    line-height: 24px;
  }
  .oblique {
    height: 872px;
  }
  .oblique .skewed {
    margin-top: 5px;
    height: 980px;
  }
  .episodes .name {
    margin: 0;
    padding: 186px 0 26px 200px;
    line-height: 62px;
  }
  .episodes .play {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 100px 64px 100px;
  }
  .episodes .play .player {
    width: 584px;
    margin: 0 72px 72px 0;
  }
  .episodes .play .player-spotify {
    width: 584px;
    height: 232px;
    border: 0;
  }
  .episodes .play .player2 {
    width: 584px;
    margin: 0 0 72px 0;
  }
  .episodes .play .player2-spotify {
    width: 584px;
    height: 232px;
    border: 0;
  }
  .we {
    margin: 0 50px 64px 200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .we_div {
    width: 464px;
  }
  .we_div .we_come {
    margin: 0;
    line-height: 62px;
  }
  .we_div .we_paragraph {
    width: 464px;
  }
  .guests_stellar {
    line-height: 62px;
    margin: 0 0 36px 200px;
  }
  .guests .images .photos {
    width: 480px;
    height: 364px;
  }
  .guests .images .photos_1, .guests .images .photos_2, .guests .images .photos_3, .guests .images .photos_4, .guests .images .photos_5, .guests .images .photos_6, .guests .images .photos_2, .guests .images .photos_3, .guests .images .photos_4, .guests .images .photos_5, .guests .images .photos_6 {
    height: 364px;
  }
  .themes {
    margin: 64px 200px 34px 200px;
  }
  .themes_some {
    margin-left: 50px;
    line-height: 62px;
  }
  .themes .something {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .themes .something_position {
    height: 199px;
  }
  .news {
    height: 518px;
  }
  .news_title {
    margin: 213px 0 52px 0;
  }
  .author_name {
    margin: 0;
  }
}

body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
}
/*# sourceMappingURL=styles.css.map */